page-user-login {
  .homePage {
    .homeCard {
      .logoImg {
        margin-top: -20%;
        margin-bottom: 10%;
      }
      margin: 30% auto !important;
    }

  }
  .forgotPassUserDiv{
    text-align: center;
    a{
      text-decoration: none;
    }

  }
}
