<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881974679174-958jnqmoeb5ski13aupm6igtrhd261c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881974679174-958jnqmoeb5ski13aupm6igtrhd261c1</string>
	<key>API_KEY</key>
	<string>AIzaSyCvR1PSYggDDBSOqQEhdG_2dDa9VIsrwvM</string>
	<key>GCM_SENDER_ID</key>
	<string>881974679174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blood.donation.app</string>
	<key>PROJECT_ID</key>
	<string>database-blood</string>
	<key>STORAGE_BUCKET</key>
	<string>database-blood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881974679174:ios:7724129cc9f363a1</string>
	<key>DATABASE_URL</key>
	<string>https://database-blood.firebaseio.com</string>
</dict>
</plist>