<ion-header>

  <ion-navbar>
    <ion-title>Chat with YFB</ion-title>
  </ion-navbar>

</ion-header>

<ion-content #content no-padding>
  <ion-list>
    <ion-item no-lines *ngFor="let message of conversation">
      <div class="chat-message" text-right *ngIf="!message.isAdminMessage">
        <div class="right-bubble">
          <span text-wrap>{{message.text}}</span><br>
          <span class="time"> {{message.time | date: "short"}}</span>
        </div>
      </div>

      <ion-avatar item-end *ngIf="!message.isAdminMessage">
        <img [src]="photoUrl">
      </ion-avatar>
      <ion-avatar item-start *ngIf="message.isAdminMessage">
        <img src="../../assets/imgs/YBlogo.png">
      </ion-avatar>
      <div class="chat-message" text-left *ngIf="message.isAdminMessage">
        <div class="left-bubble">
          <span text-wrap>{{message.text}}</span><br>
          <span class="time">{{message.time |date: "short"}}</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="chatbox">
      <ion-col col-10>
        <ion-textarea placeholder="Enter message" [(ngModel)]="message.text" style="overflow: scroll"></ion-textarea>
      </ion-col>
      <ion-col no-padding col-2 style="text-align: center; border-left: 1px solid rgba(100,100,100,0.3)">
        <button clear ion-button style="" (click)="sendMessage()" [disabled]="message.text.length < 1">
          <ion-icon class="sendBtn" name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
