page-messages {
  scroll-behavior: smooth;
  .footer {
    //border-width: 0.55px 0 0;
    background:  white;
  }
}


.user-message{

}

.admin-message .item-inner  ion-label  h2 {
  text-align: right;
}

.chatbox{
  border: 1px solid gray;
  border-radius: 15px;
  background: rgba(242, 242, 242, 0.7);
  margin: 10px 4px;
  color: black;
  padding: 0.5px;
  max-height: 50px;
}

.sendBtn{
  font-size: 45px;
  color: #ff3d49;
  //margin:0;
  //border: 1px solid blue;
  margin-top: -5px;
  margin-left: -4px;
}

