page-donor-info-admin {


    .row {
      align-items: center;
      .label {
        margin: 0;
      }
      .col:nth-child(2) {
        .icon {
          margin: 0 6% 0 6%;
        }
      }
      .col:nth-child(3) {
        .icon {
          float: right;
        }
      }
      .sub-label {
        width: 100%;
        text-align: center;
        color: color($colors, light-gray);
        font-weight: bold;
      }

      .donor-name {
        text-align: center;
        width: 100%;
        color: color($colors, text-blue)
      }
    }
    .avatar {
      height: 95px;
      width: 95px;
    }

    .contact-button {
      height: 55px;
      width: 55px;
    }
    .chat-btn{
      height: 40px;
      width: 40px;
      border: 1px solid green;
    }
    .card {
      .card-header {
        background: color($colors, gray);
        font-weight: bold;
        color: color($colors, light);
      }
      .card-content {
        padding: 5px;
        .item{
          p{
            line-height: 120%;
            overflow: visible;
            white-space: normal;
          }
        }
      }
    }

}
